@charset "UTF-8";

@import "../node_modules/perfect-scrollbar/css/perfect-scrollbar.css";

$header-bg: #64abda;
$header-text: white;
$header-height: 4rem;
$header-height-mobile: 2rem;

$map-area-bg: hsl(241, 22%, 25%);
$map-outline: #252442;
$map-outline-victory: #50de5b;
$map-outline-defeat: #de5050;
$map-title-bg: #afafd6;

$rules-area-bg: #e9fdff;
$rules-width: 24rem;
$rules-max-width: 24rem;

$state-border: #74bb78, #eaca5f, #9873f3, #ff8787, #9cfff1, #ff9cd7, #6a9de8, #ffbe86;

$rule-bg: #cce4e6;

.vroombot {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  ul.vroombot-dropdown {
    box-shadow: 0 0 0.125rem 0 black inset;
    display: none;
    list-style: none;
    margin: 0;
    position: fixed;
    padding: 0;
    z-index: 999;

    > li.vroombot-dropdown-item {
      margin: 0;
      padding: 0;
      display: block;

      > button.vroombot-dropdown-button {
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 3rem;
        background-position: 0.5rem center;
        border: none;
        cursor: pointer;
        height: $header-height;
        margin: 0;
        outline: none;
        padding: 0;
        padding-left: 4rem;
        padding-right: 1rem;
        vertical-align: top;
        width: 8rem;

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }

  button:active + ul.vroombot-dropdown {
    display: block;
  }

  .vroombot-header {
    background-color: $header-bg;
    box-shadow: 0 0 0.125rem 0 black;
    color: $header-text;
    flex: 0 0 auto;
    height: $header-height;
    position: relative;
    z-index: 999;

    > *:first-child {
      padding-left: 1rem;
    }

    span {
      font: normal 2rem sans-serif;
      line-height: $header-height;
    }

    span.vroombot-bold {
      font: bold 2rem sans-serif;
      line-height: $header-height;
    }

    button.vroombot-info {
      background: none;
      background-image: url('/app/img/info.svg');
      background-size: 100%;
      border: none;
      cursor: pointer;
      display: inline-block;
      height: 1.25rem;
      margin: 0;
      margin-top: 1.25rem;
      margin-left: 1rem;
      outline: none;
      padding: 0;
      vertical-align: top;
      width: 1.25rem;
    }

    a.vroombot-code {
      background: none;
      background-image: url('/app/img/gitlab-icon-1-color-white-rgb.svg');
      background-size: 100%;
      border: none;
      cursor: pointer;
      display: inline-block;
      height: 2rem;
      margin: 0;
      margin-top: 1rem;
      margin-left: 0.75rem;
      outline: none;
      padding: 0;
      vertical-align: top;
      width: 2rem;
    }

    ul.vroombot-map-actions {
      border-right: 0.0625rem solid lighten($header-bg, 10%);
      display: inline-block;
      float: right;
      height: $header-height;
      list-style: none;

      > li {
        > button.vroombot-map-actions-files {
          background-image: url('/app/img/ui_files.svg');
        }

        > button.vroombot-map-actions-speed {
          &[data-speed="step"] {
            background-image: url('/app/img/speed_step.svg');
          }

          &[data-speed="slow"] {
            background-image: url('/app/img/speed_slow.svg');
          }

          &[data-speed="normal"] {
            background-image: url('/app/img/speed_normal.svg');
          }

          &[data-speed="fast"] {
            background-image: url('/app/img/speed_fast.svg');
          }
        }

        > button.vroombot-map-actions-start {
          background-image: url('/app/img/ui_start.svg');

          &[data-running] {
            background-image: url('/app/img/ui_pause.svg');
          }

          &[data-stopped] {
            background-image: url('/app/img/ui_restart.svg');
          }
        }

        ul.vroombot-dropdown {
          > li.vroombot-dropdown-item {
            > button.vroombot-map-actions-speed-step {
              background-image: url('/app/img/speed_step.svg');
            }

            > button.vroombot-map-actions-speed-slow {
              background-image: url('/app/img/speed_slow.svg');
            }

            > button.vroombot-map-actions-speed-normal {
              background-image: url('/app/img/speed_normal.svg');
            }

            > button.vroombot-map-actions-speed-fast {
              background-image: url('/app/img/speed_fast.svg');
            }

            > button.vroombot-map-actions-files-save {
              background-image: url('/app/img/ui_save.svg');
            }

            > button.vroombot-map-actions-files-open {
              background-image: url('/app/img/ui_open.svg');
            }
          }
        }
      }
    }

    ul.vroombot-rules-actions {
      box-sizing: border-box;
      display: inline-block;
      float: right;
      height: $header-height;
      list-style: none;
      max-width: $rules-max-width;
      width: $rules-width;
      overflow: visible;

      > li {
        overflow: visible;

        > button.vroombot-rules-actions-files {
          background-image: url('/app/img/ui_files.svg');
        }
      }
    }

    ul.vroombot-map-actions,
    ul.vroombot-rules-actions {
      list-style: none;
      margin: 0;
      overflow: visible;
      padding: 0;
      text-align: right;

      > li {
        display: inline-block;
        overflow: visible;

        > button {
          background-color: transparent;
          background-repeat: no-repeat;
          background-size: 3rem;
          background-position: 0.5rem center;
          border: none;
          cursor: pointer;
          height: 4rem;
          outline: none;
          vertical-align: top;
          width: 4rem;

          &:hover {
            background-color: rgba(255, 255, 255, 0.3);
          }
        }

        > .vroombot-dropdown {
          background-color: lighten($header-bg, 5%);

          > li {
            > button {
              color: $header-text;
            }

            > button.vroombot-rules-actions-files-save {
              background-image: url('/app/img/ui_save.svg');
            }

            > button.vroombot-rules-actions-files-open {
              background-image: url('/app/img/ui_open.svg');
            }
          }
        }
      }
    }
  }

  .vroombot-content {
    background-color: $header-bg;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    overflow: hidden;

    .vroombot-offscreen {
      position: absolute;
      width: 1rem;
      left: -1.5rem;
    }

    .vroombot-map {
      align-items: center;
      background-color: $map-area-bg;
      display: flex;
      line-height: 0;
      flex: 1 1;
      justify-content: center;
      overflow: hidden;

      .vroombot-map-container {
        align-items: center;
        background: linear-gradient(125deg, #eee, #c8c8c8);
        background-size: 100%;
        display: flex;
        flex-direction: column;
        outline: 0.25rem solid $map-outline;
        position: relative;
        text-align: center;

        .vroombot-map-title {
          display: inline-block;
          font: normal 1.25rem/2rem monospace;
          height: 2rem;
          margin: auto;
          position: absolute;
          top: -2rem;
          z-index: 99;

          .vroombot-map-title-caption {
            background-color: $map-title-bg;
            border-top: 0.125rem solid lighten($map-title-bg, 10%);
            border-bottom: 0.125rem solid lighten($map-title-bg, 10%);
            box-shadow: 0 0 0.25rem 0 black;
            color: darken($map-title-bg, 50%);
            padding: 0.25rem 2rem;
            position: relative;
            z-index: 99;
          }

          &::before {
            background-color: $map-title-bg;
            border-bottom: 0.125rem solid lighten($map-title-bg, 10%);
            border-top: 0.125rem solid lighten($map-title-bg, 10%);
            box-shadow: 0.125rem 0 0.25rem -0.125rem black inset, 0 0 0.25rem 0 black;
            content: '';
            display: block;
            height: 2rem;
            padding: 0.25rem 0;
            position: absolute;
            right: -1.5rem;
            top: 0.25rem;
            width: 2rem;
          }

          &::after {
            background-color: $map-title-bg;
            border-bottom: 0.125rem solid lighten($map-title-bg, 10%);
            border-top: 0.125rem solid lighten($map-title-bg, 10%);
            box-shadow: -0.125rem 0 0.25rem -0.125rem black inset, 0 0 0.25rem 0 black;
            content: '';
            display: block;
            height: 2rem;
            left: -1.5rem;
            padding: 0.25rem 0;
            position: absolute;
            top: 0.25rem;
            width: 2rem;
          }
        }

        .vroombot-map-row {
          overflow: hidden;
          white-space: nowrap;

          img.vroombot-tile {
            display: inline-block;
            -ms-interpolation-mode: nearest-neighbor;
            image-rendering: -moz-crisp-edges;
            image-rendering: pixelated;
            margin: 0;
            padding: 0;
            width: 30px;
          }
        }

        &.vroombot-victory {
          outline-color: $map-outline-victory;

          .vroombot-map-row {
            img.vroombot-tile[src*="wall"] {
              filter: hue-rotate(-140deg) saturate(0.5) brightness(1.75);
            }
          }
        }

        &.vroombot-defeat {
          outline-color: $map-outline-defeat;

          .vroombot-map-row {
            img.vroombot-tile[src*="wall"] {
              filter: hue-rotate(-240deg) saturate(0.5) brightness(1.75);
            }
          }
        }

        img.vroombot-bot {
          -ms-interpolation-mode: nearest-neighbor;
          image-rendering: -moz-crisp-edges;
          image-rendering: pixelated;
          position: absolute;
          width: 30px;
        }
      }
    }

    .vroombot-rules-editor {
      background-color: $rules-area-bg;
      box-shadow: 0 0 0.1875rem 0 black;
      flex: 0 0 auto;
      margin: 0;
      max-width: $rules-max-width;
      overflow: auto;
      padding: 0;
      width: $rules-width;
      // Needed for MS Edge (otherwise dropdowns don't show)
      // I have no idea why.
      z-index: 9;

      ul.vroombot-states {
        list-style: none;
        margin: 5%;
        overflow: visible;
        padding: 0;

        li.vroombot-state {
          margin: 0;
          overflow: visible;
          padding: 0;

          &:not(:first-child) {
            margin-top: 1.5rem;
          }

          span.vroombot-state-name {
            background: darken($rule-bg, 10%);
            cursor: move;
            display: block;
            font: bold 1.4rem monospace;
            padding: 0.5rem;
            text-align: center;
          }

          button.vroombot-add-rule {
            background-color: $header-bg;
            border: none;
            color: $header-text;
            cursor: pointer;
            display: block;
            font: bold 1rem sans-serif;
            height: 2rem;
            margin: 0;
            margin-top: 0.125rem;
            outline: none;
            padding: 0;
            width: 100%;
          }

          ol.vroombot-rules {
            list-style: none;
            margin: 0;
            margin-top: 0.125rem;
            padding: 0;

            li.vroombot-rule {
              background: $rule-bg;
              display: flex;
              flex-direction: row;
              font: normal 1.4rem monospace;
              height: 2.5rem;
              line-height: 2.5rem;
              margin-top: 0.0625rem;
              padding: 0;

              &.vroombot-rule-highlighted {
                background: lighten($rule-bg, 5%);
              }

              &:first-child {
                margin-top: 0.125rem;
              }

              span.vroombot-if,
              span.vroombot-then {
                box-sizing: border-box;
                flex: 0 0 auto;
                font: normal 1rem monospace;
                line-height: 2.5rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                text-align: right;
              }

              span.vroombot-if {
                cursor: move;
              }

              span.vroombot-if.vroombot-else-if {
                line-height: 1.25rem;
              }

              ul.vroombot-dropdown {
                background-color: $rule-bg;

                > li.vroombot-dropdown-item {
                  > button.vroombot-dropdown-button {
                    background-size: 2.25rem;
                    background-position: 0.125rem 0.125rem;
                    height: 2.5rem;
                    padding-left: 3rem;
                    padding-right: 0.5rem;
                    width: 9rem;

                    &.vroombot-action-option-N {
                      background-image: url('/app/img/action_n.svg');
                    }

                    &.vroombot-action-option-W {
                      background-image: url('/app/img/action_w.svg');
                    }

                    &.vroombot-action-option-E {
                      background-image: url('/app/img/action_e.svg');
                    }

                    &.vroombot-action-option-S {
                      background-image: url('/app/img/action_s.svg');
                    }

                    @for $i from 0 through 7 {
                      &.vroombot-to-state-#{$i} {
                        position: relative;

                        &::after {
                          background-color: nth($state-border, $i + 1);
                          box-shadow: 0 0 0.125rem darken(nth($state-border, $i + 1), 50%);
                          border-radius: 50%;
                          content: '';
                          display: block;
                          flex: 0 0 auto;
                          height: 1rem;
                          margin: 0.75rem;
                          position: absolute;
                          left: 0;
                          top: 0;
                          width: 1rem;
                        }
                      }
                    }
                  }
                }
              }

              > ul.vroombot-sensing {
                display: block;
                flex: 1 0 auto;
                height: 2.5rem;
                list-style: none;
                margin: 0;
                padding: 0;

                > li.vroombot-sense {
                  display: inline-block;
                  height: 2.5rem;

                  > button {
                    display: inline-block;
                    background: transparent;
                    background-position: 0.125rem 0.125rem;
                    background-repeat: no-repeat;
                    background-size: 2.25rem;
                    border: none;
                    cursor: pointer;
                    height: 2.5rem;
                    margin: 0;
                    outline: none;
                    padding: 0;
                    vertical-align: top;
                    width: 2.5rem;

                    &:hover {
                      background-color: rgba(255, 255, 255, 0.3);
                    }

                    &[data-sensing="n"] {
                      background-image: url('/app/img/rule_n_off.svg');
                    }

                    &[data-sensing="w"] {
                      background-image: url('/app/img/rule_w_off.svg');
                    }

                    &[data-sensing="e"] {
                      background-image: url('/app/img/rule_e_off.svg');
                    }

                    &[data-sensing="s"] {
                      background-image: url('/app/img/rule_s_off.svg');
                    }

                    &[data-sensing="N"] {
                      background-image: url('/app/img/rule_n_on.svg');
                    }

                    &[data-sensing="W"] {
                      background-image: url('/app/img/rule_w_on.svg');
                    }

                    &[data-sensing="E"] {
                      background-image: url('/app/img/rule_e_on.svg');
                    }

                    &[data-sensing="S"] {
                      background-image: url('/app/img/rule_s_on.svg');
                    }
                  }

                  > ul.vroombot-dropdown {
                    background-color: $rule-bg;

                    > li {
                      > button {
                        background-position: 0.125rem 0.125rem;
                        background-size: 2.25rem;
                        height: 2.5rem;
                        padding-left: 3rem;
                        padding-right: 0.5rem;
                        width: 9rem;

                        &.vroombot-sense-option-n {
                          background-image: url('/app/img/rule_n_off.svg');
                        }

                        &.vroombot-sense-option-w {
                          background-image: url('/app/img/rule_w_off.svg');
                        }

                        &.vroombot-sense-option-e {
                          background-image: url('/app/img/rule_e_off.svg');
                        }

                        &.vroombot-sense-option-s {
                          background-image: url('/app/img/rule_s_off.svg');
                        }

                        &.vroombot-sense-option-N {
                          background-image: url('/app/img/rule_n_on.svg');
                        }

                        &.vroombot-sense-option-W {
                          background-image: url('/app/img/rule_w_on.svg');
                        }

                        &.vroombot-sense-option-E {
                          background-image: url('/app/img/rule_e_on.svg');
                        }

                        &.vroombot-sense-option-S {
                          background-image: url('/app/img/rule_s_on.svg');
                        }
                      }
                    }
                  }
                }
              }

              button.vroombot-action {
                display: block;
                flex: 0 0 auto;
                background: transparent;
                border: none;
                cursor: pointer;
                height: 2.5rem;
                margin: 0;
                outline: none;
                padding: 0;
                width: 2.5rem;

                &:hover {
                  background-color: rgba(255, 255, 255, 0.3);
                }

                img {
                  height: 2.25rem;
                  margin: 0.125rem;
                  width: 2.25rem;
                }
              }

              button.vroombot-to-state {
                background: transparent;
                border: none;
                cursor: pointer;
                flex: 0 0 auto;
                margin: 0;
                outline: none;
                padding: 0;

                &:hover {
                  background-color: rgba(255, 255, 255, 0.3);
                }

                span.vroombot-to-state-icon {
                  border-radius: 50%;
                  display: block;
                  flex: 0 0 auto;
                  height: 1rem;
                  margin: 0.75rem;
                  width: 1rem;
                }

                @for $i from 0 through 7 {
                  &[data-to-state="#{$i}"] {
                    span.vroombot-to-state-icon {
                      background-color: nth($state-border, $i + 1);
                      box-shadow: 0 0 0.125rem darken(nth($state-border, $i + 1), 50%);
                    }
                  }
                }
              }
            }
          }

          @for $i from 1 through 8 {
            &:nth-child(8n + #{$i}) {
              ol.vroombot-rules {
                border-top: 0.25rem solid nth($state-border, $i);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .vroombot {
    .vroombot-header {
      height: $header-height-mobile;
      line-height: $header-height-mobile;

      > span,
      > span.vroombot-bold {
        font-size: 1rem;
        line-height: $header-height-mobile;
      }

      > a.vroombot-code {
        margin-top: 0;
      }

      > ul.vroombot-map-actions,
      > ul.vroombot-rules-actions {
        > li {
          > button {
            background-size: 1.5rem;
            background-position: 0.25rem center;
            height: $header-height-mobile;
            width: $header-height-mobile;
          }
        }
      }

      ul.vroombot-rules-actions {
        background-color: $header-bg;
        height: auto;
        position: fixed;
        right: 0;
        top: calc(50% + 1rem);
        width: auto;
      }
    }

    .vroombot-content {
      flex-direction: column;

      .vroombot-map {
        .vroombot-map-container {
          .vroombot-map-title {
            .vroombot-map-title-caption {
              font-size: 1rem;
              line-height: 1.5rem;
              padding: 0 1rem;
              top: 1rem;
            }
          }
        }
      }

      .vroombot-rules-editor {
        margin: auto;
        flex: 0 0 auto;
        height: 50%;
        max-height: 50%;
      }
    }
  }
}
