html, body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

@media (min-width: 2561px) {
  html, body {
    font-size: 150%;
  }
}

body button:focus {
  outline: none;

  &::-moz-focus-inner {
    border: none;
  }
}

.vroombot {
    width: 100%;
    height: 100%;
}
